body {
  font-family: Consolas;
  #sudoku-container {
    height: 100vw;
    width: 100vw;
    max-width: 720px;
    max-height: 720px;
    display: flex;
    flex-direction: column;

    .sudoku-row {
      display: flex;
      align-items: stretch;
      height: (100%/9);
      &.sudoku-row--top {
        .sudoku-cell {
          border-top: black 4px solid;
        }
      }
      &.sudoku-row--bottom:last-child {
        border-bottom: black 4px solid;
      }

      .sudoku-cell {
        border: black 1px solid;
        padding: 2px;
        width: (100%/9);
        cursor: pointer;
        display: flex;
        position: relative;

        &.highlight {
          background-color: bisque;
        }

        &.sudoku-cell--start {
          border-left: black 4px solid;
        }

        &.sudoku-cell--end:last-child {
          border-right: black 4px solid;
        }
      }
    }
  }

  span {
    &.centered {
      font-size: 48px;
      margin: auto;
      justify-content: center;
      -ms-flex-pack: center !important;
      color: royalblue;

      &.default {
        color: black;
      }
    }

    &.pencil {
      font-size: 16px;
      position: absolute;
      width: 33%;
      text-align: center;
      color: royalblue;

      &.pencil--top {
        top: 10%;
      }

      &.pencil--middle-v {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      &.pencil--bottom {
        bottom: 10%;
      }

      &.pencil--left {
        left: 10%;
      }

      &.pencil--middle-h {
        left: 50%;
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
      }

      &.pencil--right {
        right: 10%;
      }

      &.pencil--middle-h.pencil--middle-v {
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
}
