$charcoal: #383f51;
$lavender_web: #dadff7;
$y_blue: #3c4f76;
$pale_silver: #d1beb0;
$quick_silver: #e2dad6;

@media only screen and (max-width: 992px) {
  .container {
    padding: 0;
  }
  #sudoku-container {
    span {
      &.centered {
        font-size: 24px !important;
      }

      &.pencil {
        font-size: 10px !important;
      }
    }
  }
  #sudoku-controls {
    margin: 0 auto;
    label,
    button {
      i,
      span {
        width: 48px !important;
        height: 48px !important;
        font-size: 32px !important;
        border-width: 2px !important;
      }
    }
  }
}

body {
  background-color: $lavender_web;
  font-family: Source Sans Pro, sans-serif;

  #sudoku-container {
    height: 100vw;
    width: 100vw;
    max-width: 720px;
    max-height: 720px;
    display: flex;
    flex-direction: column;

    .sudoku-row {
      display: flex;
      align-items: stretch;
      height: (100%/9) !important;

      &.sudoku-row--top {
        .sudoku-cell {
          border-top-width: 4px;
        }
      }

      &.sudoku-row--bottom:last-child {
        .sudoku-cell {
          border-bottom-width: 4px;
        }
      }

      .sudoku-cell {
        border: $charcoal 1px solid;
        padding: 2px;
        width: (100%/9) !important;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &.highlight {
          background-color: $pale_silver !important;
        }

        &.highlight-same {
          background-color: $quick_silver;
        }

        &.sudoku-cell--start {
          border-left-width: 4px;
        }

        &.sudoku-cell--end:last-child {
          border-right-width: 4px;
        }
      }
    }

    span {
      &.centered {
        font-size: 48px;
        margin: auto;
        justify-content: center;
        -ms-flex-pack: center !important;
        color: $y_blue;

        &.default {
          color: $charcoal;
        }
      }

      &.pencil {
        font-size: 16px;
        color: $y_blue;

        &.pencil--top {
          top: 5%;
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--middle-v {
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--bottom {
          bottom: 5%;
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--left {
          left: 5%;
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--middle-h {
          left: 50%;
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--right {
          right: 5%;
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--middle-h.pencil--middle-v {
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--centered {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 1px;

          &:first-child {
            margin-left: auto;
          }

          &:last-child {
            margin-right: auto;
          }
        }
      }
    }
  }

  #sudoku-controls {
    input[type="checkbox"] {
      display: none;

      &:checked + label > i,
      &:checked + label > span {
        color: #383f51;
        background-color: #dadff7;
      }
    }

    label,
    button {
      margin-bottom: 0;
      &.btn {
        padding: 0;

        &:focus {
          box-shadow: none !important;
        }
      }

      span {
        display: -webkit-flexbox;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 72px;
        font-size: 48px;
        color: #dadff7;
        border: solid 5px #383f51;
        background-color: #383f51;
        border-radius: 25%;

        @media only screen and (min-width: 992px) {
          span {
            width: 33%;
            height: 100vw;
          }
        }

        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }

        &:active {
          opacity: 0.4;
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
