@media only screen and (max-width: 992px) {
  .container {
    padding: 0;
  }

  #sudoku-container span.centered {
    font-size: 24px !important;
  }
  #sudoku-container span.pencil {
    font-size: 10px !important;
  }

  #sudoku-controls {
    margin: 0 auto;
  }
  #sudoku-controls label i,
#sudoku-controls label span,
#sudoku-controls button i,
#sudoku-controls button span {
    width: 48px !important;
    height: 48px !important;
    font-size: 32px !important;
    border-width: 2px !important;
  }
}
body {
  background-color: #dadff7;
  font-family: Source Sans Pro, sans-serif;
}
body #sudoku-container {
  height: 100vw;
  width: 100vw;
  max-width: 720px;
  max-height: 720px;
  display: flex;
  flex-direction: column;
}
body #sudoku-container .sudoku-row {
  display: flex;
  align-items: stretch;
  height: 11.1111111111% !important;
}
body #sudoku-container .sudoku-row.sudoku-row--top .sudoku-cell {
  border-top-width: 4px;
}
body #sudoku-container .sudoku-row.sudoku-row--bottom:last-child .sudoku-cell {
  border-bottom-width: 4px;
}
body #sudoku-container .sudoku-row .sudoku-cell {
  border: #383f51 1px solid;
  padding: 2px;
  width: 11.1111111111% !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #sudoku-container .sudoku-row .sudoku-cell.highlight {
  background-color: #d1beb0 !important;
}
body #sudoku-container .sudoku-row .sudoku-cell.highlight-same {
  background-color: #e2dad6;
}
body #sudoku-container .sudoku-row .sudoku-cell.sudoku-cell--start {
  border-left-width: 4px;
}
body #sudoku-container .sudoku-row .sudoku-cell.sudoku-cell--end:last-child {
  border-right-width: 4px;
}
body #sudoku-container span.centered {
  font-size: 48px;
  margin: auto;
  justify-content: center;
  -ms-flex-pack: center !important;
  color: #3c4f76;
}
body #sudoku-container span.centered.default {
  color: #383f51;
}
body #sudoku-container span.pencil {
  font-size: 16px;
  color: #3c4f76;
}
body #sudoku-container span.pencil.pencil--top {
  top: 5%;
  position: absolute;
  width: 33%;
  text-align: center;
}
body #sudoku-container span.pencil.pencil--middle-v {
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 33%;
  text-align: center;
}
body #sudoku-container span.pencil.pencil--bottom {
  bottom: 5%;
  position: absolute;
  width: 33%;
  text-align: center;
}
body #sudoku-container span.pencil.pencil--left {
  left: 5%;
  position: absolute;
  width: 33%;
  text-align: center;
}
body #sudoku-container span.pencil.pencil--middle-h {
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 33%;
  text-align: center;
}
body #sudoku-container span.pencil.pencil--right {
  right: 5%;
  position: absolute;
  width: 33%;
  text-align: center;
}
body #sudoku-container span.pencil.pencil--middle-h.pencil--middle-v {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  width: 33%;
  text-align: center;
}
body #sudoku-container span.pencil.pencil--centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1px;
}
body #sudoku-container span.pencil.pencil--centered:first-child {
  margin-left: auto;
}
body #sudoku-container span.pencil.pencil--centered:last-child {
  margin-right: auto;
}
body #sudoku-controls input[type=checkbox] {
  display: none;
}
body #sudoku-controls input[type=checkbox]:checked + label > i, body #sudoku-controls input[type=checkbox]:checked + label > span {
  color: #383f51;
  background-color: #dadff7;
}
body #sudoku-controls label,
body #sudoku-controls button {
  display: block;
  float: left;
  margin-bottom: 0;
}
body #sudoku-controls label.btn,
body #sudoku-controls button.btn {
  padding: 0;
}
body #sudoku-controls label.btn:focus,
body #sudoku-controls button.btn:focus {
  box-shadow: none !important;
}
body #sudoku-controls label span,
body #sudoku-controls button span {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  font-size: 48px;
  color: #dadff7;
  border: solid 5px #383f51;
  background-color: #383f51;
  border-radius: 25%;
}
@media only screen and (min-width: 992px) {
  body #sudoku-controls label span span,
body #sudoku-controls button span span {
    width: 33%;
    height: 100vw;
  }
}
body #sudoku-controls label span:hover,
body #sudoku-controls button span:hover {
  opacity: 0.6;
  cursor: pointer;
}
body #sudoku-controls label span:active,
body #sudoku-controls button span:active {
  opacity: 0.4;
  cursor: pointer;
}
body #sudoku-controls label span:focus,
body #sudoku-controls button span:focus {
  outline: none;
}

/*# sourceMappingURL=styles.css.map */
