$background: #f6f6f6;

$highlight: #4877a5;
$highlight_light: #5386b6;

$user_text: #3d6894;
$text: #325a84;

@media only screen and (max-width: 992px) {
  .container {
    padding: 0;
  }
  #sudoku-container {
    span {
      &.centered {
        font-size: 24px !important;
      }

      &.pencil {
        font-size: 10px !important;
      }
    }
  }
  #sudoku-controls {
    margin: 0 auto;
    label,
    .btn {
      span {
        width: 42px !important;
        height: 42px !important;
        font-size: 28px !important;
        border-width: 2px !important;
      }
    }
  }
}

body {
  background-color: $background;
  font-family: Source Sans Pro, sans-serif;

  #sudoku-container {
    height: 100vw;
    width: 100vw;
    max-width: 720px;
    max-height: 720px;
    display: flex;
    flex-direction: column;

    .sudoku-row {
      display: flex;
      align-items: stretch;
      height: (100%/9) !important;

      &.sudoku-row--top {
        .sudoku-cell {
          border-top-width: 4px;
        }
      }

      &.sudoku-row--bottom:last-child {
        .sudoku-cell {
          border-bottom-width: 4px;
        }
      }

      .sudoku-cell {
        border: $text 1px solid;
        padding: 2px;
        width: (100%/9) !important;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &.highlight {
          background-color: $highlight !important;
          span {
            color: $background !important;
          }
        }

        &.highlight-same {
          background-color: $highlight_light;
          span {
            color: $background !important;
          }
        }

        &.sudoku-cell--start {
          border-left-width: 4px;
        }

        &.sudoku-cell--end:last-child {
          border-right-width: 4px;
        }
      }
    }

    span {
      &.centered {
        font-size: 48px;
        margin: auto;
        justify-content: center;
        -ms-flex-pack: center !important;
        color: $user_text;

        &.default {
          color: $text;
        }
      }

      &.pencil {
        font-size: 16px;
        color: $user_text;

        &.pencil--top {
          top: 5%;
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--middle-v {
          top: 50%;
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--bottom {
          bottom: 5%;
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--left {
          left: 5%;
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--middle-h {
          left: 50%;
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--right {
          right: 5%;
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--middle-h.pencil--middle-v {
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          position: absolute;
          width: 33%;
          text-align: center;
        }

        &.pencil--centered {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0 1px;

          &:first-child {
            margin-left: auto;
          }

          &:last-child {
            margin-right: auto;
          }
        }
      }
    }
  }

  #sudoku-controls {
    input[type="checkbox"] {
      display: none;

      &:checked + label > i,
      &:checked + label > span {
        color: $text;
        background-color: $background;
      }
    }

    label,
    button {
      margin-bottom: 0;
      &.btn {
        padding: 0;

        &:focus {
          box-shadow: none !important;
        }
      }

      span {
        display: -webkit-flexbox;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        justify-content: center;
        width: 72px;
        height: 72px;
        font-size: 48px;
        color: $background;
        border: solid 5px $text;
        background-color:  $text;
        border-radius: 25%;

        @media only screen and (min-width: 992px) {
          span {
            width: 33%;
            height: 100vw;
          }
        }

        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }

        &:active {
          opacity: 0.4;
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
